
abstract=This ontology defines a heirarchy of software functions based on the work of the NSF-funded EarthCube Resource Registry working group.  The functions are generally organized by their role in the research process.
ontologyTitle=Software Functions Ontology
ontologyPrefix=sfo
ontologyNamespaceURI=http://cor.esipfed.org/ont/earthcube/sfo
ontologyName=Software Functions Ontology
thisVersionURI=null
latestVersionURI=ontology ns URI	http://cor.esipfed.org/ont/earthcube/sfo
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=1.0
licenseURI=http://creativecommons.org/publicdomain/zero/1.0/
licenseName=CC0
licenseIconURL=null
citeAs=Duerr, R., 2019, "Software Functions Ontology", ESIP Community Ontology Repository, http://cor.esipfed.org/ont/earthcube/sfo
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=EarthCube Office
publisherURI=https://www.earthcube.org/
publisherInstitution=Federation of Earth Science Information Partners
publisherInstitutionURI=null
authors=https://orcid.org/0000-0003-4808-4736
authorsURI=https://orcid.org/0000-0003-4808-4736
authorsInstitution=
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
